body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

/* Custom CSS */

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

a:not([href]) { 
  cursor: pointer;
  color: gray !important;
}

a:not([href]):hover { 
  color: rgb(98, 98, 255) !important;
}

.small_impact_font {
  font-size: small;
  color: gray;
}

.black {
  color: white;
}

.name + .name::before {
  display: inline-block;
  white-space: pre;
  content: " | ";
}
