
/* Main */

.logo {
  width: 1.5em;
  padding-bottom: .3em;
  padding-right: .2em;
}

body {
  background: linear-gradient(90deg, rgba(42,37,54,1) 0%, rgba(7,7,8,1) 48%, rgba(6,6,6,1) 100%);
}

.main-page-background {
  background-color: #0a0519;
  border-radius: 20px;
  margin: auto 5rem;
}

/* Navbar */

nav.navbar {
  background-color: #100c1c;
  box-shadow: 0 2px 4px 0 #2a2538;
  padding: .4rem 1rem .2rem 2rem;
}

a, a:link, a:hover, a:active, a:visited {
  color: #d0de63;
  font-size: medium;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #d0de63;
  padding: .4rem .5rem .2rem .5rem;
  border-radius: 8px;
}


/* Buttons */
.btn {
  text-transform: lowercase;
}


/* Footer */

.footer {
  background: linear-gradient(90deg, rgba(17,16,18,1) 0%, rgba(22,21,21,1) 37%, rgba(22,22,23,1) 56%, rgba(25,24,24,1) 100%);
  font-size: x-small ;
  color: white;
  height: 1em;
  width: 100%;
}

.justify-content-center {
  font-size: large ;
  color: white;
  font-weight: lighter;
}

.footer-copyright{
  font-size: x-small ;
  color: white;
  font-weight: lighter;
}
/* 
.nav-link{
  font-size: xx-large ;
  color: rgb(213, 10, 10);
} */


.display-7 {
  font-size: xx-large ;
  color: white;
  font-weight: lighter;
}
.text-white {
  font-size: medium;
  color: rgb(160, 199, 43);
  font-weight: lighter;
}

.login-signup {
  background-color: #0c0912;
  border-radius: 20px;
  margin: auto 13rem;
  font-weight: lighter;
  font-size: small ;
}
